# Windows OS Misc
*.db
*.ini
*.dll
*.exe

# Linux OS Misc
*.so
*.out

# macOS Misc
.DS_Store
Thumbs.db
ehthumbs.db

# IDE Config Misc
.vscode/
.idea/
.cache/

# Project Config Misc
_site/
_gh_pages/
.jekyll
.jekyll-cache
.jekyll-metadata
.sass-cache
.bundle
.vagrant
.wrangler
*.gem
Gemfile.lock
vendor
node_modules
package*.json
