# Windows OS Misc

# Linux OS Misc

# macOS Misc
.DS_Store
Thumbs.db
ehthumbs.db

# IDE Config Misc
.vscode/
.idea/
.cache/

# Project Config Misc
_site/
_gh_pages/
.ruby-version
.jekyll
.jekyll-cache
.jekyll-metadata
.sass-cache
.bundle
.vagrant
*.gem
vendor
node_modules
package*.json
