{% comment %}
  @param {Boolean} center 
{% endcomment %}

{% if include.center %}
<ul class="list-inline text-center">
{% else %}
<ul class="list-inline">
{% endif %}
  <!-- SNS Link Contents -->
  {% if site.social-network-links.rss %}
  <li>
    <a href="{{ "../_includes/feed.xml" | prepend: site.baseurl }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.social-network-links.linkedin %}
  <li>
    <a target="_blank" href="https://www.linkedin.com/in/{{ site.social-network-links.linkedin }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.social-network-links.twitter %}
  <li>
    <a href="https://twitter.com/{{ site.social-network-links.twitter }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.social-network-links.facebook %}
  <li>
    <a target="_blank" href="https://www.facebook.com/{{ site.social-network-links.facebook }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.social-network-links.github %}
  <li>
    <a target="_blank" href="https://github.com/{{ site.social-network-links.github }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.social-network-links.zhihu %}
  <li>
    <a target="_blank" href="https://www.zhihu.com/people/{{ site.social-network-links.zhihu }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa  fa-stack-1x fa-inverse">知</i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.social-network-links.weibo %}
  <li>
    <a target="_blank" href="http://weibo.com/{{ site.social-network-links.weibo }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
</ul>
