<!-- Blog Layout -->
<!DOCTYPE html>
<html lang="en">
    <!-- Add page head -->
    {% include head.html %}
    
    <!-- Add page body, hack iOS CSS :active style -->
    <body ontouchstart="">
        {% include nav.html %}
        {% include search.html %}
        {{ content }}
        <!-- Image to hack wechat -->
        <!-- <img src="/img/icon_wechat.png" width="0" height="0" /> -->
        <!-- Migrate from head to bottom, no longer block render and still work -->
    </body>
    
    <!-- Add page script -->
    {% include script.html %}
    
    <!-- Add page footer -->
    {% include footer.html %}
</html>
